* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #18191a;
  /* overflow: hidden; */
}

nav {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .drop-btn {
  width: 400px;
  background-color: #242526;
  color: #b0b3b8;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

nav .drop-btn i {
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}

nav .wrapper .setting-drop,
nav .wrapper .help-drop {
  display: none;
}
nav .wrapper.show {
  display: block;
  display: flex;
}

nav .wrapper {
  position: absolute;
  top: 65px;
  display: flex;
  width: 400px;
  overflow: hidden;
  background-color: #242526;
  border-radius: 5px;
  display: none;
}

nav .wrapper ul {
  list-style: none;
  width: 400px;
  padding: 10px;
}

nav .wrapper li {
  line-height: 55px;
}

nav .wrapper ul li a {
  position: relative;
  text-decoration: none;
  color: #b0b3b8;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  align-items: center;
  border-radius: 8px;
}

nav .wrapper ul li:hover a {
  background-color: #3a3b3c;
}

.wrapper ul li a .icon i {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background-color: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.wrapper ul li a i.arrow {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}
.wrapper .help-drop .arrow-back,
.wrapper .setting-drop .arrow-back {
  padding-left: 10px;
  font-size: 20px;
  color: #b0b3b8;
  font-weight: 500;
  cursor: pointer;
}

.wrapper .setting-drop .arrow-back i .wrapper .help-drop .arrow-back i {
  margin-right: 15px;
}
